body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Header section */
header {
  background-color: #1f2937;
  margin-bottom: 30px;
  padding-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-right: 50px;
}

h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border-color: #f9faf8;
  cursor: pointer;
}

h1,
button,
.logo-text {
  color: #f9faf8;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.logo-text {
  align-self: center;
  font-size: 24px;
  margin-bottom: 0;
  color: #f9faf8;
}

nav > a {
  color: #e5e7eb;
  text-decoration: none;
}

nav :hover {
  color: #de430f;
}

.header-section {
  display: flex;
  justify-content: space-around;
}

.header-article {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 50px 0 50px;
}

.header-paragraph {
  color: #e5e7eb;
  font-size: 18px;
  margin-top: 0;
}

.header-figure {
  margin: 0;
  margin-top: 10px;
  margin-right: 50px;
}

.header-image {
  height: 270px;
  width: auto;
}

button {
  background-color: #3882f6;
  border-radius: 7px 7px;
  width: 100px;
  height: 30px;
  outline: none;
}

/* Models section */

.models {
  display: flex;
  justify-content: space-evenly;
}

.model-names {
  display: flex;
  justify-content: space-around;
}

.models-info {
  color: #1f2937;
  text-align: center;
}

.model-cars {
  width: 200px;
}

.model-list {
  width: 220px;
  height: 220px;
  padding-left: 0;
  margin-bottom: 50px;
}

.model-list > li {
  line-height: 1.6;
  text-align: justify;
}

.models-figure {
  margin-top: 0;
}

.m3 {
  margin-right: 0;
  margin-left: 60px;
}

.m5 {
  margin-left: 0;
}

.m8 {
  margin-left: 0;
  margin-right: 60px;
}

/* Quote Section*/
.quote-section {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  background-color: #e5e7eb;
  margin-bottom: 50px;
}

blockquote {
  font-size: 36px;
  width: 70%;
  margin-left: 80px;
  margin-right: 40px;
}

.quote {
  font-size: 20px;
  font-weight: bold;
  text-align: end;
  margin-right: 150px;
}

/* Call to action section */
.call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3882f6;
  width: 700px;
  margin: 0 auto 50px auto;
  border-radius: 7px 7px;
}

.call-to-action > div > p {
  font-size: 10px;
  color: #f9faf8;
  margin-top: 0;
  margin-bottom: 30px;
}

h2 {
  color: #f9faf8;
  margin-top: 30px;
  margin-bottom: 4px;
}

/* Footer */
footer {
  text-align: center;
  color: #f9faf8;
  background-color: #1f2937;
  padding: 20px 0 20px 0;
}
